<!DOCTYPE html>
<html>
  <head lang="en-us">
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} &middot; Nodeum
      {% else %}
        Nodeum
      {% endif %}
    </title>

    <meta name="author" content="Steven To">
    <meta name="description" content="Writings about technology, web development and design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/nodeum-logo-contrast-favicon.png">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>
